@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .form-control:focus {
        box-shadow: none !important;
    }
</style>

<div class="container-fluid d-flex justify-content-between align-items-center" style="background-color: rgba(34, 40, 49); width: 30vw; height: 60vh; border: 1px solid rgba(118, 171, 174); border-radius: 15px; padding: 1%">
    <div class="d-flex justify-content-center align-items-center" style="width: 30vw">
        <div class="container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="d-flex justify-content-center align-items-center" style="color: rgba(118, 171, 174); font-size: 40px">REGISTER</h1>
                <hr style="color: rgba(118, 171, 174)" />
            <h2 class="d-flex justify-content-center align-items-center mb-3" style="color: white; font-size: 24px">Create a new account.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-Mail" style="color: white; background-color: rgba(255, 255, 255, 0.02); border-color: rgba(118, 171, 174)" />
                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" style="color: white; background-color: rgba(255, 255, 255, 0.02); border-color: rgba(118, 171, 174)" />
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" style="color: white; background-color: rgba(255, 255, 255, 0.02); border-color: rgba(118, 171, 174)" />
                
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                 <button id="registerSubmit" type="submit" class="btn btn-lg" style="width: 10vw; background-color: rgba(118, 171, 174); border: none">Register</button>
            </div>
                
        </form>
        </div>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
