@model ToDoWebApp.Models.ToDo

@{
    ViewData["Title"] = "Edit";
    var toDoList = ViewData["ToDoList"] as IEnumerable<ToDoWebApp.Models.ToDo>;
}


<div class="container-fluid" style="width: 90vw">
    <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(34, 40, 49); padding: 1%; border-radius: 15px">
    <div>
        <partial name="NavLeftPartial" model="toDoList" />
    </div>
        <div class="flex-grow-1 ms-4" style="width: 80vw; height: 80vh; background-color: rgba(34, 40, 49); border: 2px solid rgba(118, 171, 174); border-radius: 15px; padding: 1%">
            <h4 style="color: rgba(118, 171, 174); text-align: center; font-size: 40px; text-transform: uppercase" class="mt-3">Edit</h4>
            <hr style="color: rgba(118, 171, 174)" />
            <div style="background-color: rgba(34, 40, 49); height: 80%; padding: 3%; border: 2px solid rgba(118, 171, 174); border-radius: 15px" class="d-flex justify-content-between align-items-center">
                <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label mb-2" style="color:white; font-size: 18px"></label>
                <input asp-for="Title" class="form-control" placeholder="Title of your To-Do .." style="color: white; border: 1px solid rgba(118, 171, 174); background-color: rgba(255, 255, 255, 0.02)" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label mb-2" style="color:white; font-size: 18px"></label>
                            <textarea asp-for="Content" class="form-control" style="height: 35vh; color: white; resize: none; border: 1px solid rgba(118, 171, 174); background-color: rgba(255, 255, 255, 0.02)"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            *@
            <div class="form-group mt-2 d-flex justify-content-center align-items-center">
                <div class="form-check">
                                <label asp-for="IsDone" class="form-check-label" style="color:white; font-size: 18px"></label>
                <input type="checkbox" asp-for="IsDone" class="form-check-input" id="isDoneCheckbox" />
                </div>
                <span asp-validation-for="IsDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
                        <div class="form-group d-flex justify-content-end align-items-end">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
                        
                        <a class="btn btn-danger mt-3 ms-2" asp-action="Delete" asp-controller="ToDoes" asp-route-id="@Model.Id">Delete</a>
            </div>
        </form>
                </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
       <a class="btn btn-info mt-3" asp-action="Index">Back to List</a>
    </div>
    </div>
</div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
