

@{
    ViewData["Title"] = "Index";
    var toDoList = ViewData["ToDoList"] as IEnumerable<ToDoWebApp.Models.ToDo>;
}

<div class="container-fluid" style="width:90vw">
    <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(34, 40, 49); padding: 1%; border-radius: 15px">
    <div>
        <partial name="NavLeftPartial" model="toDoList" />
    </div>
        <div class="flex-grow-1 ms-4" style="width: 80vw; height: 80vh; background-color: rgba(34, 40, 49); border: 2px solid rgba(118, 171, 174); border-radius: 15px; padding: 15px">
            <h4 style="color: rgba(118, 171, 174); text-align: center; font-size: 40px; text-transform: uppercase" class="mt-3">Welcome</h4>
            <hr style="color: rgba(118, 171, 174)" class="mt-4" />
        <div style="height: 75%">

                <div class="d-flex justify-content-center align-items-center flex-column" style="background-color: rgba(34, 40, 49); height: 100%">
                    <h5 style="text-align: center; color: white; font-size: 30px" class="mb-3">How to use this program:</h5>
                <ol>
                    <li style="color: white; font-size: 18px" class="mb-2">
                        Click create new on your left to create a new to do.
                    </li>
                        <li style="color: white; font-size: 18px" class="mb-2">
                        Click on a to-do on your left to edit or delete it.
                    </li>
                        <li style="color: white; font-size: 18px" class="mb-2">
                        If you want to edit it, just make your edits after you clicked on the to-do and safe the changes.
                    </li>
                        <li style="color: white; font-size: 18px" class="mb-2">
                        If you want to delete a to-do, click on delete on the edit page and then confirm that you want to delete it.
                    </li>
                        <li style="color: white; font-size: 18px" class="mb-2">
                        If you find some bugs, feel free to correct them :) 
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>
