@model IEnumerable<ToDoWebApp.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="width:80vw">
    <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(34, 40, 49); padding: 1%; border-radius: 15px">
    <div>
        <partial name="NavLeftPartial" />
    </div>
    <div class="flex-grow-1 ms-4" style="width: 80vw; height: 80vh; background-color: lightcoral">
        <h4>Index</h4>
        <div>
            here will be displayed something
        </div>
    </div>
</div>
</div>
