@model IEnumerable<ToDoWebApp.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex">
    <div>
        <partial name="NavLeftPartial" />
    </div>
    <div class="flex-grow-1 ms-4" style="width: 80vw; height: 80vh; background-color: lightcoral">
        <h1>Index</h1>
        <div>
            here will be displayed something
        </div>
    </div>
</div>
