@model IEnumerable<ToDoWebApp.Models.ToDo>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;

<div class="container-fluid d-flex flex-column" style="width: 20vw; height: 80vh; background-color: lightblue">
    <a class="btn btn-info d-flex justify-content-center align-items-center mb-2" asp-action="Create" asp-controller="ToDoes" style="width: 7vw; height: 3vh; font-size: 16px">Create new</a>
    <div style="width: 100%; height: 45%; background-color: lightgoldenrodyellow">
        <h3>Active ToDo's</h3>
        <ul>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    if (item.IsDone == false)
                    {
                        <li>
                            <a style="text-decoration: none">@item.Title</a>
                        </li>
                    }
                }
            }
            else
            {
                <li>No active ToDo's</li>
            }
        </ul>
    </div>
    <hr />
    <h3>Finished ToDo's</h3>
    <div style="width: 100%; height: 45%; background-color: lightsalmon">
        <ul>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    if (item.IsDone == true)
                    {
                        <li>
                            <a style="text-decoration: none">@item.Title</a>
                        </li>
                    }
                }
            }
            else
            {
                <li>No finished ToDo's</li>
            }
        </ul>
    </div>
</div>
